/* embla.module.css */

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 12px;
}

.embla__slide img {
  transition: transform 0.3s ease;
}

.embla__slide:hover img {
  transform: scale(1.05);
}

.embla__slide {
  position: relative;
  flex: 0 0 79%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;

  border: 1px solid transparent;
  border-radius: 12px;

  /* Smooth transition for border-color */
  transition: border-color 0.3s ease;
}


/* Responsive Adjustments */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 34%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 34%;
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 27%;
  }
}

@media (min-width: 1536px) {
  .embla__slide {
    flex: 0 0 22%;
  }
}

/* Navigation Buttons */
.embla__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--brandBlueDark);
  color: var(--neutralWhiteButtonNextPrev);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.embla__button--prev {
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--neutralWhiteButtonNextPrev);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.embla__button--next {
  right: 10px;
  border-radius: 50%;
  background-color: var(--neutralWhiteButtonNextPrev);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Dots Navigation */
.embla__dots {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 60px;
}

.embla__dot {
  width: 10px;
  height: 10px;
  background-color: var(--buttonWhiteHover);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.embla__dot--selected {
  background-color: var(--brandBlueDark);
}

/* Optional: Progress Bar */
/* 
.embla__progress {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 1rem;
}

.embla__progress__grayline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.embla__progress__blueline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: transform 0.3s ease, width 0.3s ease;
}
*/
