@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Corrected Selector */
:root {
  --button-bg: #fff;
  --button-color: #181818;
  --button-shadow: rgba(213, 160, 236, 0.3);
  --background-color: #fff;
  --background-color-slide: #f5f5f7;
}

root {
  --button-bg: #fff;
  --button-color: #181818;
  --button-shadow: rgba(213, 160, 236, 0.3);
  --background-color: #ededed;
  --background-color-slide: #f5f5f7;
}

.dark {
  --button-bg: #333435;
  --button-color: #fff;
  --button-shadow: rgba(0, 0, 0, 0.5);
  /* --background-color: #333435; */
  --background-color: #ededed;
  --background-color-slide: #333435;
}
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Space Grotesk", sans-serif;
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.theme-overlay {
  position: fixed;
  top: 0;
  right: 0;
  /* Start from the corner where your toggle button is, adjust as needed */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.8s ease-in-out;
  pointer-events: none; /* so it doesn't block interaction when inactive */
  z-index: 9999; /* Make sure it overlays everything */
}


.theme-overlay.dark-bg {
  background: #000;
}

.theme-overlay.light-bg {
  background: #fff;
}


.theme-overlay.active {
  transform: scale(50);
}


.theme-overlay.active {
  transform: scale(50);
}


.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-prev{
  display: none !important;
}
.swiper-button-next{
  display: none !important;
}

/* .swiper-slide{
  height: 520px !important;
} */

.swiper-slide img{
  height: 200px !important;
  /* width: 120px !important; */
}